[submodule "Apple/CFPropertyList"]
	path = Apple/CFPropertyList
	url = git://github.com/rodneyrehm/CFPropertyList.git
[submodule "Apple/ua-parser"]
	path = Apple/ua-parser
	url = git://github.com/tobie/ua-parser.git
