<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Org.InCommon.InCert.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="system.net" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <userSettings>
    <Org.InCommon.InCert.Engine.Properties.Settings>
      <setting name="PersistedProperties" serializeAs="String">
        <value />
      </setting>
      <setting name="PersistedTimestamps" serializeAs="String">
        <value />
      </setting>
      <setting name="PreserveHelpContentOnExit" serializeAs="String">
        <value>True</value>
      </setting>
    </Org.InCommon.InCert.Engine.Properties.Settings>
    <Engine.Properties.Settings>
      <setting name="PersistedProperties" serializeAs="String">
        <value />
      </setting>
      <setting name="PersistedTimestamps" serializeAs="String">
        <value />
      </setting>
    </Engine.Properties.Settings>
  </userSettings>
  <system.net>
    <settings>
      <ipv6 enabled="false" />
    </settings>
    
    <defaultProxy enabled="true">
      <proxy autoDetect="False" usesystemdefault="True" />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
 <!-- <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
