body {
    background-color: #4f7fb0;
    color: white;
    overflow: hidden;
}

    body.bordered {
        padding-bottom: 70px;
    }

/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

button.startButton {
    width: 150px;
    height: 150px;
    border: solid 3px;
    font-size: 24pt;
    background: transparent;
    outline: none;
}

    button.startButton:hover {
        -moz-box-shadow: 0 0 105px #fff;
        -webkit-box-shadow: 0 0 105px #fff;
        box-shadow: 0px 0px 105px #fff;
    }
    button.startButton:focus {
        -moz-box-shadow: 0 0 105px #fff;
        -webkit-box-shadow: 0 0 105px #fff;
        box-shadow: 0px 0px 105px #fff;
    }

h3.errorText {
    font-weight: bold;
    margin-top: 5px;
}

h3.restartText {
    font-weight: bold;
    margin-top: 5px;
}

pre.errorText {
    background-color: inherit;
    border: none;
    color: inherit;
    display: inherit;
    padding: inherit;
    margin: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.25em;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

.form-control-feedback {
    color:transparent
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #FFE373;
}

html.disabled {
    cursor: wait !important;
}

a.disabled {
    pointer-events: none
}

.has-error .form-control {
    border-color: #FFE373;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .has-error .form-control:focus {
        border-color: #FFE373;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.has-error .input-group-addon {
    color: #a94442;
    border-color: #FFE373;
    background-color: #eee;
}

.has-error .form-control-feedback {
    color: #BF9C0F;
}

.has-error .help-block {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #FFE373;
}
